RewriteEngine On

SetEnv	P3_Env	Fraz0r

# Send direct /index.php requests back to dispatch
# IMPORTANT: If you are running P3 from a nested directory, you NEED TO change this 
#RewriteCond %{REQUEST_URI} ^/index.php
#RewriteRule ^.*$ / [R=301,NC,QSA,L]


# P3 Dispatch
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L,QSA]